Package: com.freemanrepo.siriboard
Name: SiriBoard
Depends: mobilesubstrate
Version: 1.1-5
Architecture: iphoneos-arm
Description: Launch Siri from an icon on your SpringBoard!
Maintainer: FreeManRepo
Author: FreeManRepo
Section: Tweaks
Installed-Size: 104
