Package: com.freemanrepo.siriboard
Name: SiriBoard
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: launch siri via an icon
Maintainer: FreeManRepo
Author: FreeManRepo
Section: Tweaks
